.card-wrapper {
    background: darkorange;
    text-align: center;
}

.link {
    text-decoration: none;
}

.character-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}