.character-details {
  width: 100vw;
  height: 100vh;
  background: darkorange;
  display: flex;
  flex-direction: row;
}

.character-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}